      </main>
      <%- include('footer') %>
    </div>
  </div>

  <script src="/panel-assets/js/core.bundle.js"></script>
  <script src="/panel-assets/vendors/ktui/ktui.min.js"></script>
  <script src="/panel-assets/js/panel-session.js"></script>
</body>
</html>
