        </div>
        <!-- End of Container -->
      </main>
      <!-- End of Content -->
      <%- include('footer') %>
    </div>
    <!-- End of Wrapper -->
  </div>
  <!-- End of Main -->
  <!-- End of Page -->
  <!-- Scripts -->
  <script src="/panel-assets/js/core.bundle.js"></script>
  <script src="/panel-assets/vendors/ktui/ktui.min.js"></script>
  <script src="/panel-assets/js/panel-session.js"></script>
  <!-- End of Scripts -->
</body>
</html>
